body {
	background-color: #3e388f;
}
.link:hover {
	font-weight: bolder;
}
.link:visited {
	color: #ca2aa7;
}
.link:link {
	color: #69c2e8;
}
h1 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 0px;
}
figcaption {
	text-align: center;
	color: #80aaff;
}
p {
	text-align: center;
}
h2{
	text-align: center;
}
img {
	display: block;
	margin: auto;
}
.img {
	width: 250px;
	height: 334px;
	display: block;
}
hr {
	border-color: rgb(0, 0, 0);
	border-width: 5px;
}
li {
	text-align: center;
}
#zm{
	color: #80aaff;
}
#nz {
	color: #55bd00;
}
#tz {
	color: #e66f00;
}
#dr {
	color: #ff0000;
}
#mob {
	color: #c80909;
}
#br {
	color: #c85609;
}
#og {
	color: #00c9cc;
}
#mrfl {
	color:#cc0070;
}
h3 {
	text-align: center;
	color: #4d88ff;
}
#WYB {
	color: #1a66ff;
}
textarea {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
button {
	display: block;
	margin-left: auto;
	margin-right: auto;
}