body {
	background-color: #3e388f;
}
#link:hover {
	font-weight: bolder;
}
#link:visited {
	color: #ca2aa7;
}
#link {
	color: #69c2e8;
}
h1 {
	text-align: center;
	font-size: 40px;
	margin-bottom: 0px;
}
p {
	text-align: center;
}
h2{
	text-align: center;
}
img {
	display: block;
	margin: auto;
}
.img {
	width: 250px;
	height: 334px;
	display: block;
}
hr {
	border-color: rgb(0, 0, 0);
	border-width: 5px;
}
#nz {
	color
}
#tz {
	
}
#dr {
	
}
#mob {
	
}
#br {
	
}
#og {
	
}